[build]
  publish = "public"
  functions = "netlify/functions"
  command = """
    # Download dan ekstrak Hugo
    wget -q https://github.com/gohugoio/hugo/releases/download/v0.124.1/hugo_extended_0.124.1_linux-amd64.tar.gz -O /tmp/hugo.tar.gz
    tar -xzf /tmp/hugo.tar.gz -C /tmp
    
    # Jalankan Hugo
    /tmp/hugo --minify
  """

[[redirects]]
  from = "/verify-reward"
  to = "/.netlify/functions/verify-reward"
  status = 200
